<div class="row dashboard-section-title text-center text-Center-md w-100 bg-orange fg-white">
  <div class="cell-md-4 mt-4">
    <ul class="custom-list-marker">
      <li><b>Horario de atención</b></li>
      <br>
      <li>Lunes     8:00 AM - 8:00PM</li>
      <li>Martes    8:00 AM - 8:00PM</li>
      <li>Miercoles 8:00 AM - 8:00PM</li>
      <li>Jueves    8:00 AM - 8:00PM</li>
      <li>Viernes   8:00 AM - 8:00PM</li>
      <li>Sabado    8:00 AM - 8:00PM</li>
      <li>Domingo   8:00 AM - 8:00PM</li>
  </ul>
  </div>
  <div class="cell-md-4 mt-4">
    <ul class="custom-list-marker">
      <li><b>Contactanos</b></li>
      <br>
      <li><span class="mif-phone-in-talk icon"></span> 52-311-141-56-05</li>
      <li><span class="mif-mail icon"></span> Restaurantejeros@gmail.com</li>
      <li><span class="mif-location icon"></span> Santa María del Oro, Nay.</li>
      <li><span class="mif-my-location icon"></span> 9C9C+VX La Laguna, Nayarit</li>
   </ul>
  </div>
  <div class="cell-md-4 mt-4">
    <ul class="custom-list-marker">
      <li><b>Siguenos</b></li>
      <br>
      <li><span class="mif-facebook2 icon"></span> Facebook</li>
      <li><span class="mif-instagram icon"></span> Instagram</li>
      <li><span class="mif-favorite icon"></span> Tik-tok</li>
   </ul>
  </div>
</div>


  </body>
</html>